<%= simple_form_for(@course_session) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.association :course %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
