<p id="notice"><%= notice %></p>

<h1>Listing Courses</h1>
<ul class="list-group">
  <% current_user.courses.each do |course| %>
    <li class="list-group-item">
      <h3><%= course.name %></h3>
      <p><%= course.description %></p>
      <p><%= User.find(course.instructor_id).username %></p>
      <%= link_to 'View Course Sessions', course %>
    </li>
  <% end %>
</ul>
<br>
<% if current_user.instructor? %>
  <%= link_to 'New Course', new_course_path %>
<% end %>
