<h1><%= @course.name %> Sessions</h1>
<ul class="list-group">
  <% @course.course_sessions.each do |course_session| %>
    <li class="list-group-item">
      <h3><%= course_session.title %></h3>
      <%= link_to 'View this Session', course_session %>
    </li>
  <% end %>
</ul>
<br>
<% if current_user.instructor? %>
  <%= link_to 'New Session', new_course_session_path %>
  <h4>Add students by email with a coma seperated list</h4>
  <%= simple_form_for @course, url: { action: 'enroll' } do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :emails, label: false %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Add students" %>
    </div>
  <% end %>
<% end %>
