<p id="notice"><%= notice %></p>

<h1><%= @course.name %> Sessions</h1>
<ul class="list-group">
  <% @course.course_sessions.each do |course_session| %>
    <li class="list-group-item">
      <h3><%= course_session.title %></h3>
      <%= link_to 'View this Session', course_session %>
    </li>
  <% end %>
</ul>
<br>
<% if current_user.instructor? %>
  <%= link_to 'New Session', new_course_session_path %>
<% end %>
